
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
  margin: 0;
  padding: 0;
}

/* General styles */

  body{
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    line-height: 1.8em; 
}

  .header-wrapper{
      display: flex;
      justify-content: space-between;
      background-color: #114479;
      color: white;
      padding: 2%;
  }


  .logotype img{
    height: 60px;
    width: 200px;
  }

  a {
    text-decoration: none; 
  }
  
  a:hover {
    color: #5cb3fd;
   }

.max-width { /*This class keeps the things the same width*/
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  box-sizing: border-box; /* prevents the added padding from creating a side scroll when the screen shrinks*/
}

  .searchbox {
    position: relative; /*Places fa fa icon in the search field*/
    margin: 2%;
  }


  .searchbox input{
    width: 100%;
    padding: 2% 4%;
    border: 1px solid ;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 2% 0;
    font-size: 1.1em;
  }


  .searchbox-ipad {
    display: none;
  }

  .searchbox .fa {
    position: absolute;
    right: 10px;
    top: 30%;
    color: #114479;
    font-size: 1.9em;
  }
  
  input:focus {
    outline: none; /*Remove the border on focus*/
  }


.login {
  font-size: 0.9em;
  line-height: 2em; 
}

.navbar {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

  .navbar ul{
    display:flex;
    justify-content: space-between;
  }

  .nav-links li {
    list-style: none; 
  }
  
  .nav-links li a{
    color:  #114479;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    padding-right: 2em;
    display: block;
    font-size: 1.3em;
  }

  .nav-links li a:hover {
   color: #5cb3fd;
  }


.hamburger-button {
  position: absolute; /*forces it to be to the right without messing with the flow of the other elements*/
  top: .70em;
  right: 1em;
  display: none; 
  flex-direction: column;
  justify-content: space-between;
  width: 3em;
  height:2em;
}

.hamburger-button .bar {
  height: 0.35em;
  width: 100%;
  background-color: white;
}


.toggle { 
  display: none; /* Nav links only for hamburger menue*/
}


.forms {
  background-color:#E5E5E5;
  padding: 5%;
}

.forms h2 {
  padding-left: 0;
}

.forms input[type=text], input[type=time], input[type=date], input[type=email], select {
  width: 100%;
  padding: 2% 4%;
  border: 1px solid ;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 2% 0;
  font-size: 1.1em;
}


  main {
    margin: 5% auto;
    min-height: 80vh;
}

  h1  {
  font-size: 3em;
  padding:2%;
  color:#114479;
  line-height: 1.5em; 
}

  h2  {
  font-size: 1.5em;
  color:#114479;
  padding: 2%;
}

.ingress {
  padding: 4% 2%;
}


  /*Index page styles*/

  .article-section {
    background-color:#E5E5E5;
    padding: 2%;
  }

  .article-section article{
    background-color: white;
    margin: 2%;
    padding:1%;
  }
  .article-header {
    display: flex;
    justify-content: space-between;
  }

  .minusIcon {
    display:none;
  }

  .minusIcon.active {
    display: block;
  }

  .plusIcon.active {
    display: none;
  }

  .moreInfo {
    display: none;
  }

  .moreInfo.active {
    display: block;
  }

  .article-main p, h3 {
    padding: 2%;
  }

  /*Booking page styles*/
  .booking-choices {
    display: flex;
    justify-content: left;
    padding:2%;
  }

  .booking-choices div{
    padding-right:2%;
  }

  label, .recurring-booking p, .change-recurring-booking p   {
    font-size: 1.2em;
    font-weight: bold;
  }
  
  .choices-wrapper label{
    font-size: 1em;
    font-weight: normal;
  }

  .oneway-booking input, select {
    width: 100%;
    padding: 2% 4%;
    border: 1px solid ;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 2% 0;
    font-size: 1.1em;
  }

  .oneway-booking {
    display: block;
  }

  .recurring-booking {
    display: none;
  }


  input[type=checkbox]{
    width: 2em;
    height: 2em;
}

input[type=radio]{
  width: 2em;
  height: 2em;
}

.choices-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 6%;
  margin-bottom: 6%;
}

  .submit-button {
    width: 100%;
    background-color: #114479;
    border: none;
    color: white;
    padding: 2% 6%;
    text-align: center;
    font-size: 1.1em;
    margin: 2% 0;
    cursor: pointer;
  }

  .message {
    height: 8em;
    padding: 0;
  }

  
  .change-recurring-booking {
    background-color:#E5E5E5;
    padding: 5%;
  }

  .confirmation-message {
    background-color:#E5E5E5;
    padding: 5%;
  }

  .confirmation-message-section p{
    padding-left:2%;
  }

  .goBackLink {
    color:  #114479;
    padding-top: 4%;
    font-size: 1.3em;
  }

  .table-wrapper {
    overflow-x: auto;
  }

  .travels {
    border-collapse: collapse; /* Removes gaps between rows*/
    width: 100%;
  }

  .travels th {
    background-color: #114479;
    color: white;
  }
  
  .travels td, th {
    background-color: #E5E5E5;
    padding: 1.5%;
    border-bottom: 5px solid white;
    text-align: left;
  }

  .travels img{
    margin: 1.5%;
  }

  .table-2 h2{
    margin-top: 10%; /* Makes space between tables*/
  }

  .delete-button {
    width: 100%;
    background-color: #c15252;
    border: none;
    color: white;
    padding: 2% 6%;
    text-align: center;
    font-size: 1.1em;
    margin: 2% 0;
    cursor: pointer;
  }

  /* Accessibility page*/

  .accessibility-content p{
    padding:1%;
  }

  .accessibility-form p {
    text-align: left;
  }
  

  /*Footer styles*/
  footer {
    background-color: #114479;
    color: white;
    text-align: center;
  }

  footer a{
    color: white;
  }

  .footer-info {
    box-sizing: border-box; 
    display: flex;
    justify-content: space-between;
    padding: 4%;
  }

  .footer-links li {
    list-style: none; 
  }

  .footer-links li a:hover {
    color: #5cb3fd;
  }


    
  /*Smaller desktop, when screen is not very wide*/
  @media (max-width:1350px) { 
  
  
    .searchbox-desktop {
      width: 40%;
    }

    .navbar ul{
      justify-content: center;
    }

    .content {
      padding: 4%;
    }

  }


  /*IPAD-ish sizes*/
  @media (max-width:800px) { 

    .searchbox-ipad {
      display: block;
    }


    .searchbox-desktop {
      display: none;
    }


    .login {
      display: none;
    }

  .toggle {
    display: block;
  }

  .hamburger-button {
   display: flex;
   padding: 2%;
  }

  
.nav-links {
  display: none;
}

.nav-links.active {
  display: flex;
}

.navbar {
  flex-direction: column;
  align-items: flex-start;
}

.nav-links ul {
  width: 100%;
  flex-direction: column;
  padding-left: 0;
}

.nav-links li a {
  padding: .5em 1em;
}

.footer-info {
  display: flex;
  flex-direction: column;
}

.footer-links {
  margin-top: 10%;
}

.travels {
  width: 800px; /* This is so the table will look ok even in a small screen. The table can be wiewed by side scrolling the table thanks to the overflow property. Setting a fixed width prevents the information in the cells from looking messy */
}

}


/* Mobile devices */
@media (max-width:400px) { 

  .searchbox .fa {
    font-size: 1.5em;
  }

  h1  {
    font-size: 2em;
  }
  
    h2  {
    font-size: 1.5em;
  }


  .hamburger-button {
    width: 2em;
  }

  .article-header {
    flex-direction: column;
  }

  .booking-choices {
    flex-direction: column;
  }

  .choices-wrapper {
    flex-direction: column;
  }

}